<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="myAppApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">myApp</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="active"><a href="#/">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#/">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-controller="MainCtrl" class="container">

  <div ng-show="msg" class="alert alert-success" role="alert">
     You successfully added a Student Details.
  </div>

  <button ng-click="bottonClicked()" class="btn btn-info">Add Student</button>


  <div ng-show="btn">
    <h3> Enter Student's Details</h3>
    <form class="form-horizontal" name="insertForm">
      <span> Name::</span> <input type="text" ng-model="abc"><br><br>
      <span> Address::</span> <input type="text" ng-model="def"><br><br>
      <span> Std::</span> <input type="text" ng-model="mayap"><br><br>
      <button ng-click="insertStudent()" class="btn btn-success">Submit</button> &nbsp; <input type="reset"
                                                                                               value="Reset"
                                                                                               class="btn btn-info"> &nbsp;
      <button ng-click="disbleAdd()" class="btn btn-danger">Cancel</button>
    </form>
  </div>
<br>
  <br>
  <div>

    <button ng-click="getStudent()" class="btn btn-info">Show Students</button>
    <button ng-click="bottonClickedOne()" class="btn btn-info">Search By Id</button>

   <div ng-show="btn11">
      <input type="number" ng-model="studentId">
      <button ng-click="searchOne()" class="btn btn-info">Search</button>
    </div>
    <div>
    <br><br>
    <h2>Student's List</h2>

    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Std</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="abc in data">
        <td width="10%"><span ng-hide="edit[{{$index}}]">{{abc.id}}</span>
          <input ng-show="edit[{{$index}}]" readonly="readonly" type="text" value="{{abc.id}}" size="1"></td>

        <td width="10%"><span ng-hide="edit[{{$index}}]">{{abc.name}}</span>
          <input ng-show="edit[{{$index}}]" type="text"  value="{{abc.name}}" size="10"
                 ng-model="abc.name"></td>

        <td width="10%"><span ng-hide="edit[{{$index}}]">{{abc.address}}</span>
          <input ng-show="edit[{{$index}}]" type="text"  value="{{abc.address}}" size="10"
                 ng-model="abc.address"></td>

        <td width="10%"><span ng-hide="edit[{{$index}}]">{{abc.std}}</span>
          <input ng-show="edit[{{$index}}]" type="text"  value="{{abc.std}}" size="10"
                 ng-model="abc.std"></td>

        <td width="10%"><span ng-hide="edit[{{$index}}]">{{abc.status}}</span>
          <input ng-show="edit[{{$index}}]" readonly="readonly" type="text" value="{{abc.status}}" size="10"></td>

        <td width="200">
          <button ng-hide="edit[{{$index}}]" class="btn btn-success" ng-click="triggerEditMode($index)">Edit</button>
          &nbsp;
          <button ng-hide="edit[{{$index}}]" class="btn btn-danger" ng-click="updateStatus(abc.id)">Delete</button>
          <button ng-show="edit[{{$index}}]" class="btn btn-success" ng-click="saveEditedData($index,abc)">Save</button> &nbsp;
          <button ng-show="edit[{{$index}}]" class="btn btn-danger" ng-click="removeEditMode($index)">Cancel</button>
          &nbsp;
        </td>
      </tr>

    </table>
    </div>
  </div>

</div>


<div class="footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
  </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
      (A[l].q = A[l].q || []).push(arguments)
    }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/services/AppService.js"></script>
<!-- endbuild -->
</body>
</html>
